# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
vendor/

# Build / dist
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# IDE / editor
.vscode/
.idea/
*.iml

# Misc
*.swp
*.swo
